Html, body{
    height:100%;
      margin:0px;
      padding:0px;
  }

  .container {
    height:100%;
      margin: 0 auto;
      padding:0px;
      top: 200px;
  }
  .grandParentContaniner{
          display:table;
          height:100%;
          margin: 0 auto;
  }
  .parentContainer{
      display:table-cell;
      vertical-align:middle;
  }
  .parentContainer .loginForm{
      padding:10px;
      background: #fff;
      border: 1px solid #ddd;
      width:400px;  /*  your login form width */    
      display:table-cell;
      display:table-cell;
      vertical-align:middle;

  }